html, body{
    margin: 0;
    width: 100%;
    height: 100%;
}
.login__container,
.login__wrapper{
    height: 100%;
}

.login__wrapper{
    align-items: center;
}
.login__form{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login__block{
    margin-bottom: 15px;
}
.login__label{
    margin-bottom: 0px;
}
.login__submit{
    border: none;
    padding: 5px 30px;
    cursor: pointer;
    outline: none;
}