html, body{
    position: relative;
    margin: 0;
    width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

*{
    outline: none;
}

a, a:hover, a:focus, a:active{
    text-decoration: none;
    outline: none;
    color: black;
}
a:hover, a:focus{
    color: #ede306;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header{
    z-index: 5;
}
.content__container{
    flex: 1;
    margin-top: 30px;
}
#slider_1{
    margin-top: -30px!important;
}
.BTN {
    padding: 5px 20px;
    border: 1px solid #7382f7;
    background-color: white;
}
.BTN:hover, .BTN:focus{
    box-shadow: 2px 2px 7px #7382f794;
}
.BTN.slider--btn{
    background-color: transparent;
    color: white;
}
.BTN.add-to-cart{
    margin-right: 20px;
}
.BTN.and-bay{
    background-color: #7382f740;
}
.BTN.hide{
    display: none;
}
.BTN.added{
    background-color: greenyellow;
}

th.start, td.start{
    text-align: start;
}
th.center, td.center{
    text-align: center;
}
th.end, td.end{
    text-align: end;
}

header, .footer__container{
    background-color: #7382f7;
}
.header__info{
    justify-content: space-between;
}
.info__block{
    display: flex;
}
.callback__item:not(:last-child){
    margin-right: 20px;
}
.callback__item svg{
    margin-right: 5px;
}
.info__callback--phone svg{
    transform: rotate(90deg);
}
.social__item:not(:last-child){
    margin-right: 10px;
}
.social__item svg{
    width: 25px!important;
    height: 25px!important;
}
.social__item svg{
    color: rgb(0, 0, 0);
}
.social__item:hover svg{
    color: #ede306;
}
.header__content{
    justify-content: space-between;
    align-items: center;
}
.header__logo a{
    font-size: 35px;
    color: #e7ea7a;
}
.header__search{
    margin: 0;
    width: 45%;
    position: relative;
}
.header__search .search--string{
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
}
.header__search .search--btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    border-radius: 10px;
    border: 1px solid;
}
.header__search .search--content{
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #dce9f5de;
    z-index: 15;
    border-radius: 10px;
    border: 1px solid;
    border-top: none;
    padding: 10px;
}
.header__cart svg{
    width: 18px!important;
    height: 18px!important;
    color: #e7ea7a;
    cursor: pointer;
}
.header__menu__container{
    padding-bottom: 30px;
}
.header__nav__menu{
    display: flex;
    position: relative;
}
.nav_menu_container{
    position: relative;
}
.nav_menu_block{
    position: absolute;
    display: none;
    background-color: white;
    width: 100%;
}
.nav_menu_block a{
    display: block;
    width: 100%;
    padding: 0;
}
.nav_menu_container.active .nav_menu_block{
    display: block;
}
.nav_menu_container > a{
    display: flex;
    position: relative;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
}
.nav_menu_container.drop--menu > a{

}
.nav_menu_container .drop--element{
    width: 12px;
    display: block;
    height: 2px;
    background-color: black;
    margin-left: 5px;
}
.nav_menu_container .drop--element::before{
    content: "";
    width: 12px;
    display: block;
    height: 2px;
    background-color: black;
    transform: rotate(90deg);
    transition: 600ms ease;
}
.nav_menu_container.active .drop--element::before{
    content: "";
    width: 12px;
    display: block;
    height: 2px;
    background-color: black;
    transform: rotate(0deg);
}
.footer__copy{
    margin: auto;
    padding: 20px;
}
.admin__background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/*Catalog*/

.catalog__nav__container{
    display: flex;
    flex-direction: column;
}
.nav__item{
    font-size: 20px;
}
.nav__item.active{
    background-color: blanchedalmond;
}
.sort__form{
    text-align: right;
    width: 100%;
    margin-bottom: 25px;
}
/*__grid*/

.grid__container{
    margin-right: -15px;
    margin-left: -15px;
}
.grid__content {
    padding-bottom: 85px;
}
.grid__title {
    display: inline-flex;
    width: 100%;
    padding: 32px 0;
}
.grid__name {
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
}
.grid__link a {
    font-size: 16px;
    line-height: 17px;
    color: #16A72D;
    font-weight: bold;
    border-bottom: 1px dashed #16A72D;
}
.grid__link a:hover,
.grid__link a:focus {
    color: #1d934f;
    border-bottom: 1px dashed #1d934f;
}
.grid__content__container {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
}
.grid__content__item__container{
    padding: 0 10px;
}
.grid__content__item__container:not(:nth-last-child(4)) {
    margin-bottom: 20px;
}
.grid__content__item{
    border-color: #E4E6EE;
    border-style: solid;
    border-width: 1px;
}
.grid__content__item {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 6px 20px rgba(24, 104, 188, 0.1);
    overflow: hidden;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    padding-bottom: 17px;
    transition: 0.4s;
}
.grid__content__item:hover, .grid__content__item:focus {
    box-shadow: none;
    border-color: #E1E5EE;
    border-style: solid;
    border-width: 1px;
}
.grid__content__marker{
    position: absolute;
    z-index: 4;
    padding: 3px 24px 3px 24px;
    right: 0;
    transform: rotate(45deg);
    margin: 3px -23px;
}
.grid__content__btn--remove{
    position: absolute;
    z-index: 10;
    color: white;
    padding: 0px 6px;
    left: 0;
    border-bottom-right-radius: 5px;
}
.grid__content__img{
    position: relative;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 200px;
    text-align: center;
}
.grid__content__img img {
    width: auto;
    height: 100%;
}
.disabled{
    position: absolute;
    top: 100px;
    background-color: #ff0c0c;
    z-index: 4;
    width: 100%;
    text-align: center;
    padding: 10px;
}
.grid__content__count{
    display: flex;
    align-items: center;
}
.grid__content__input{
    width: 50px;
}
.grid__content__input input{
    width: 100%;
}
.grid__content__name {
    font-size: 16px;
    letter-spacing: 0;
    color: #1d253f;
    font-weight: normal;
    margin: 10px 15px;
    overflow: hidden;
    height: 40px;
}
.grid__content__name {
    line-height: 19px;
    text-align: center;
    letter-spacing: 0;
    color: #1D253F;
}
.grid__content__btn {
    padding-top: 15px;
    width: 100%;
    text-align: center;
}
.grid__content__btn .BTN{
    width: 80%;
}

/*Pagination*/

.pagination__block {
    display: flex;
    margin-right: 15px;
    margin-top: 25px;
    margin-bottom: 35px;
}
.pagination__item:not(:last-child) {
    margin-right: 20px;
}
.pagination__skip {
    background-color: #25A15B;
    color: #ffffff;
}
.pagination__link {
    position: relative;
    display: flex;
    margin-left: -1px;
    border-color: #dee2e6;
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
}
.pagination__link:hover, .pagination__link:focus, .pagination__link:active {
    box-shadow: 0px 6px 18px rgba(52, 52, 52, 0.2); }

/*Product*/

.product__img{
    padding: 50px;
}
.product__img img{
    width: 100%;
}

/*Contact*/

.__contact{
    display: flex;
    flex-direction: column;
}
.__contact a{
    display: flex;
    align-items: center;
}

.__contact .social__item{
    margin-bottom: 10px;
}

.__contact a svg{
    margin-right: 10px;
    width: 25px!important;
    height: 25px!important;
}

/*Order*/

#order__form .form__input{
    display: flex;
    margin-bottom: 20px;
}
#order__form .form__label{
    width: 20%;
}

#order__form .form__input input{
    width: 70%;
}

.order__label{
    cursor: pointer;
    margin: 0;
}
.address--form{
    margin-top: 20px;
}
.address--form.hide{
    display: none;
}

/*Success*/

.success__container{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.success__block{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.success__content{
    align-items: center;
    background-color: #00ff45a3;
    padding: 30px;
    border-radius: 20px;
}
.success__header{
    margin-bottom: 30px;
    text-align: center;
}
.success__title{
    margin-bottom: 30px;
}
.success__toPay{
    font-size: 20px;
}

.success__body table{

}
/*Admin*/

.edit__content__item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.edit__content__btn{
    display: flex;
    justify-content: center;
}
